<div class="layout-wrapper">
  <div class="layout-topbar">
    <p-menubar [model]="menu">
      <ng-template pTemplate="start">
        <img src="../../assets/logo.png" height="40" class="mr-6" alt="logo">
      </ng-template>
      <ng-template pTemplate="end">
        <button pButton type="button" label="Sign in" class="p-button-sm p-button-text"></button>
        <button pButton type="button" label="Create Account" class="p-button-sm p-button-rounded"></button>
      </ng-template>
    </p-menubar>
  </div>

  <!-- <div class="layout-sidebar">
    <div class="layout-menu-container">
      <ul class="layout-menu" role="menu" (keydown)="onKeydown($event)">
          <li app-menu class="layout-menuitem-category" *ngFor="let item of menu; let i = index;" role="none">
              <div class="layout-menuitem-root-text" [attr.aria-label]="item.label">{{item.label}}</div>
          </li>
      </ul>
    </div>
  </div> -->
  <div class="layout-main-container">
        <div class="layout-main">
            <img src="../../assets/landing-header.jpg" alt="landing-header" style="width: 100%;">
            <router-outlet></router-outlet>
        </div>
        <!-- <div class="layout-footer">
          <span class="font-medium ml-2">PrimeNG</span>
      </div>   -->
    </div>
</div>
