<div class="layout-wrapper">
  <div class="layout-topbar">
    <p-menubar [model]="menu"></p-menubar>
  </div>

  <div class="layout-sidebar">
    <div class="layout-menu-container">
      <ul class="layout-menu" role="menu" (keydown)="onKeydown($event)">
          <li app-menu class="layout-menuitem-category" *ngFor="let item of menu; let i = index;" role="none">
              <div class="layout-menuitem-root-text" [attr.aria-label]="item.label">{{item.label}}</div>
              <!-- <ul role="menu">
                  <li app-menuitem *ngFor="let child of item.items" [item]="child" [index]="i" role="none"></li>
              </ul> -->
          </li>
          <!-- <a href="https://www.primefaces.org/primeblocks-ng/#/">
              <img src="assets/layout/images/{{appMain.config.dark ? 'banner-primeblocks-dark' : 'banner-primeblocks'}}.png" alt="Prime Blocks" class="w-full mt-3"/>
          </a> -->
      </ul>
    </div>
  </div>
  <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <!-- <div class="layout-footer">
          <span class="font-medium ml-2">PrimeNG</span>
      </div>   -->
    </div>
</div>
